/* .category{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
     
} */

.category {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    flex-shrink: 0;   /* shrink hone se rokta hai */
    transition: all 0.3s ease;
}
.category:hover{
    scale: 1.1;
    border-bottom: 2px solid grey;
}
.category h3{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
   
}