.productList{
    width: 100%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
}